#rikaichamp_options,
#rikaichamp_options td {
  padding: 0 10px;
  font-family: sans-serif;
  font-size: 10pt;
}

#options {
  padding: 10px;
}

#options p, #options form {
  margin: 0;
  padding: 0;
}
