#rikaikun_options {
	padding: 0 10px;
	font-family: sans-serif;
	font-size: 10pt;
}

#tabs {
}

.tab {
	float: left;
	display: inline;
	padding: 5px;
	margin-left: 3px;
	background-color: #eee;
	border: 1px solid #999;
	border-bottom: 0px;
	font-style: italic;
	color: #ccc;
}

.active-tab {
	font-weight: bold;
	font-style: normal;
	color: #000;
	background-color: #dde;
}

#options {
	clear: both;
	background-color: #dde;
	padding: 10px;
	border: 1px solid black;
}

#options p, #options form {
	margin: 0;
	paddign: 0;
}
