/* this is to reset almost everything under the popup to a sane value */

#rikaichamp-window, #rikaichamp-window * { 
  width: auto;
  height: auto;
  background: transparent;
  color: #000000;
  border: none !important;
  border-spacing: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  text-indent: 0px;
  text-transform: none;
  white-space: normal;
  word-spacing: normal;
  font: normal 14px sans-serif;
  visibility: visible;
}

#rikaichamp-window { 
  position: absolute;
  z-index: 99992;
  border: 1px solid #D0D0D0 !important;
  padding: 4px;
  background: #E6F4FF;
  top: 5px; 
  left: 5px;
  min-width: 100px;
  border-radius: 5px; 
}

/* used for word definitions */

#rikaichamp-window .w-kanji {
  font-size: 18px;
  color: #3082BF;
  margin-right: 0.7em;
}

#rikaichamp-window .w-kana {
  font-size: 18px;
  color: #00B366;
}

#rikaichamp-window .w-conj {
  color: #808080;
  font-size: 12px;
}

#rikaichamp-window .w-def {
  font-size: 13px;
}

#rikaichamp-window .w-title {
  font-size: 10px;
  padding: 2px;
  background: #BFE4FF;
  color: #000000;
}

#rikaichamp-window .w-na-tb td {
  vertical-align: top;
  padding-right: 0.8em;
}

/* used for kanji information */

#rikaichamp-window .k-main-tb {
  width: 300px;
}

#rikaichamp-window .k-kanji {
  font-family: serif;
  font-size: 48px;
  color: #000000;
}

#rikaichamp-window .k-eigo {
  font-size: 12px;
}

/* kanji: readings */

#rikaichamp-window .k-yomi {
  font-size: 14px;
  color: #00B366;
  margin: 4px 0px;
}

#rikaichamp-window .k-yomi-hi {
  color: #00868B;
  border: 1px solid red;
}

#rikaichamp-window .k-yomi-ti {
  font-size: 11px;
  color: #000000;
}

/* kanji radical, grade, freq, strokes box */

#rikaichamp-window .k-abox-tb {
  width: 120px;
  margin-bottom: 4px;
  float: right;
  clear: right;
}

#rikaichamp-window .k-abox-r {
  font-size: 12px;
  text-align: center;
  padding: 1px 4px;
  background: #DFF1FF;
  color: #003D6B;
}

#rikaichamp-window .k-abox-g {
  font-size: 12px;
  text-align: center;
  padding: 1px 4px;
  background: #FFFFFF;
  color: #003D6B;
}

#rikaichamp-window .k-abox-f {
  font-size: 12px;
  text-align: center;
  padding: 1px 4px;
  background: #FFFFFF;
  color: #003D6B;
}

#rikaichamp-window .k-abox-s {
  font-size: 12px;
  text-align: center;
  padding: 1px 4px;
  background: #DFF1FF;
  color: #003D6B;
}

/* kanji components box */

#rikaichamp-window .k-bbox-tb {
  width: 120px;
  margin-bottom: 4px;
  float: right;
  clear: right;
}

#rikaichamp-window .k-bbox-0a {
  vertical-align: top;
  font-size: 11px;
  padding: 1px 3px;
  background: #DFF1FF;
  color: #003D6B;
}

#rikaichamp-window .k-bbox-0b {
  vertical-align: top;
  font-size: 11px;
  padding: 1px 3px;
  background: #DFF1FF;
  color: #003D6B;
}

#rikaichamp-window .k-bbox-1a {
  vertical-align: top;
  font-size: 11px;
  padding: 1px 3px;
  background: #FFFFFF;
  color: #003D6B;
}

#rikaichamp-window .k-bbox-1b {
  vertical-align: top;
  font-size: 11px;
  padding: 1px 3px;
  background: #FFFFFF;
  color: #003D6B;
}


/* kanji: misc index */

#rikaichamp-window .k-mix-tb {
  width: 100%
}

#rikaichamp-window .k-mix-td0 {
  font-size: 12px;
  background: #DFF1FF;
  color: #003D6B;
}

#rikaichamp-window .k-mix-td1 {
  font-size: 12px;
  background: #FFFFFF;
  color: #003D6B;
}


/* manual query */

#rikaichamp-window .q-tb td {
}

#rikaichamp-window .q-w {
  border-right: 1px dotted #B0B0B0 !important;
  padding: 0px 2px;
  vertical-align: top;
  min-width: 300px;
}

#rikaichamp-window .q-k {
  padding: 0px 2px;
  vertical-align: top;
}
