@charset "UTF-8";
@import 'themes.css';

.puck {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  /* We use a z-index one higher than the popup */
  z-index: 1000002;
  touch-action: manipulation;
  background: var(--bg-color);
  border: 2px solid var(--border-color);
  border-radius: 15px;
}
