@charset "UTF-8";

:root,
:host {
  --tag-green: #43a047aa;
  --tag-pink: #f24b59aa;
  --tag-blue: #2698fbaa;

  --selected-highlight: var(--primary-highlight);
  --selected-bg: #fffde5;
  --selected-reading-highlight: #2e7d32;
  --selected-conj-color: #fc7600;
  --selected-def-color: #1a1d1f;
  --selected-tag-color: #1a1d1f;
  --selected-tag-border: rgba(0, 0, 0, 0.3);
}

/*
 * Theme - light
 */

.theme-light {
  --text-color: #1d1a19;
  --bg-color: #fefef2;
  --border-color: #b1ad96;

  --primary-highlight: #c11f2a;
  --reading-highlight: #615f52;
  --conj-color: #ad565c;

  --tag-border: rgba(0, 0, 0, 0.3);

  --title-fg: var(--text-color);
  --title-bg: #ede7c9;

  --reading-label: #918d7b;
  --okurigana-color: #ad565c;
  --hi-contrast-pitch-accent: var(--primary-highlight);
  --cell-highlight-bg: #ede7c9;
  --cell-highlight-fg: #3e3a39;

  --selected-bg: #fff8bf;
  --hover-bg: rgb(255, 250, 210);
  --selected-reading-highlight: #3e3a39;

  --meta-bg: var(--cell-highlight-bg);
  --status-bg: var(--cell-highlight-bg);

  --scrollbar-fg: var(--cell-highlight-bg);
  --scrollbar-bg: var(--bg-color);

  --puck-bg: var(--title-bg);
  --puck-bg-highlight: var(--bg-color);

  --status-button-color: #615f52;
  --status-button-primary-text-color: var(--status-bg);
}

.window.theme-light .w-def .tag-fem,
.window.theme-light .w-def .w-dial {
  background: #f24b5922;
  color: #7a282f;
  --tag-border: #f24b5966;
}

.window.theme-light .w-def .tag-masc,
.window.theme-light .w-def .w-misc {
  background: #2698fb22;
  color: #144977;
  --tag-border: #2698fbaa;
}

.window.theme-light .w-def .tag-place,
.window.theme-light .w-def .w-field {
  background: #43a04722;
  color: #215723;
  --tag-border: #43a047aa;
}

/*
 * Theme - blue
 */

.theme-blue {
  --text-color: white;
  --bg-color: #446ea0;
  --border-color: #17588e;

  --primary-highlight: #bcdffe;
  --reading-highlight: #c0ffc0;
  --conj-color: #fff394;

  --tag-border: rgba(255, 255, 255, 0.4);

  --title-bg: var(--cell-highlight-bg);
  --title-fg: var(--text-color);

  --reading-label: #e7ffe7;
  --okurigana-color: #a8cfef;
  --hi-contrast-pitch-accent: white;
  --cell-highlight-bg: #17588e;
  --cell-highlight-fg: var(--primary-highlight);

  --selected-highlight: var(--bg-color);
  --selected-bg: rgb(220, 225, 255);
  --hover-bg: rgb(233, 238, 255, 0.8);

  --status-bg: rgba(255, 255, 255, 0.2);
  --meta-bg: rgba(255, 255, 255, 0.2);

  --scrollbar-fg: var(--cell-highlight-bg);
  --scrollbar-bg: var(--bg-color);

  --puck-bg: var(--bg-color);
  --puck-bg-highlight: #5f87bb;

  --status-button-color: white;
  --status-button-primary-text-color: var(--bg-color);
}

/*
 * Theme - black
 */

.theme-black {
  --text-color: white;
  --bg-color: #1d1a19;
  --border-color: #999493;

  --primary-highlight: #3fa8de;
  --reading-highlight: #7beb7e;
  --conj-color: #c1a4a0;

  --tag-border: rgba(255, 255, 255, 0.4);

  --title-bg: #3e3a39;
  --title-fg: #ede8e6;

  --reading-label: #e7ffe7;
  --okurigana-color: #ede8e6;
  --hi-contrast-pitch-accent: white;
  --cell-highlight-bg: #504c4b;
  --cell-highlight-fg: #f0ecea;

  --selected-bg: #555;
  --hover-bg: #484844;

  /* Reset selection styles */
  --selected-highlight: var(--primary-highlight);
  --selected-reading-highlight: var(--reading-highlight);
  --selected-def-color: var(--text-color);
  --selected-tag-color: var(--text-color);
  --selected-tag-border: var(--tag-border);

  --status-bg: rgba(255, 255, 255, 0.2);
  --meta-bg: rgba(255, 255, 255, 0.2);

  --scrollbar-fg: var(--cell-highlight-bg);
  --scrollbar-bg: var(--bg-color);

  --puck-bg: var(--bg-color);
  --puck-bg-highlight: #555;

  --status-button-color: white;
  --status-button-primary-text-color: var(--bg-color);
}

.window.theme-black .w-def .tag-masc,
.window.theme-black .w-def .w-misc {
  --tag-blue: #2698fb88;
  --tag-border: rgba(255, 255, 255, 0.3);
}

.window.theme-black .kanji-table:not(.-copy) .kanji {
  text-shadow: rgba(255, 255, 255, 0.2) 1px 1px 4px;
}

/*
 * Theme - lightblue
 */

.theme-lightblue {
  --text-color: #1d1a19;
  --bg-color: #e3f2fe;
  --border-color: #65b7fc;

  --primary-highlight: #17588e;
  --reading-highlight: #2e7d32;
  --conj-color: #817470;

  --tag-border: rgba(0, 0, 0, 0.3);

  --title-fg: var(--text-color);
  --title-bg: #bcdffe;

  --reading-label: #1b5e20;
  --okurigana-color: #706c6b;
  --hi-contrast-pitch-accent: var(--primary-highlight);
  --cell-highlight-bg: #cae6fc;
  --cell-highlight-fg: var(--primary-highlight);

  --selected-highlight: var(--primary-highlight);
  --selected-bg: #fffac5;
  --hover-bg: #fffde5;

  --meta-bg: var(--cell-highlight-bg);
  --status-bg: var(--cell-highlight-bg);

  --scrollbar-fg: var(--cell-highlight-bg);
  --scrollbar-bg: var(--bg-color);

  --puck-bg: #c5e0f5;
  --puck-bg-highlight: var(--bg-color);

  --status-button-color: var(--primary-highlight);
  --status-button-primary-text-color: var(--bg-color);
}

/*
 * Theme - yellow
 */

.theme-yellow {
  --text-color: #1d1a19;
  --bg-color: #fff8bf;
  --border-color: #ffd600;

  --primary-highlight: #17588e;
  --reading-highlight: #2e7d32;
  --conj-color: #fc7600;

  --tag-border: rgba(0, 0, 0, 0.3);

  --title-bg: #fffde5;
  --title-fg: var(--text-color);

  --reading-label: #1b5e20;
  --okurigana-color: #fc7600;
  --hi-contrast-pitch-accent: var(--primary-highlight);
  --cell-highlight-bg: #fffde5;
  --cell-highlight-fg: #3e3a39;

  --selected-bg: #e3f2fe;
  --hover-bg: #fdfdf4;
  --selected-highlight: var(--primary-highlight);

  --meta-bg: var(--cell-highlight-bg);
  --status-bg: var(--cell-highlight-bg);

  --scrollbar-fg: var(--cell-highlight-bg);
  --scrollbar-bg: var(--bg-color);

  --puck-bg: #ffeeaa;
  --puck-bg-highlight: var(--bg-color);

  --status-button-color: var(--primary-highlight);
  --status-button-primary-text-color: var(--status-bg);
}
