@charset "UTF-8";

:root,
:host {
  --tag-green: #43a047aa;
  --tag-pink: #f24b59aa;
  --tag-blue: #2698fbaa;

  --selected-highlight: var(--primary-highlight);
  --selected-bg: #fffde5;
  --selected-reading-highlight: #2e7d32;
  --selected-conj-color: #fc7600;
  --selected-def-color: #1a1d1f;
  --selected-tag-color: #1a1d1f;
  --selected-tag-border: rgba(0, 0, 0, 0.3);
}

/*
 * Theme - light
 */

.window,
.window.-light,
.puck,
.puck.-light {
  --text-color: #1d1a19;
  --bg-color: #f6f1f0;
  --border-color: #706c6b;

  --primary-highlight: #1f66c7;
  --reading-highlight: #43a047;
  --conj-color: #1a47a8;

  --tag-border: rgba(0, 0, 0, 0.3);

  --title-fg: var(--text-color);
  --title-bg: #ddd8d7;

  --reading-label: #1b5e20;
  --okurigana-color: #fc7600;
  --cell-highlight-bg: #ede8e6;
  --cell-highlight-fg: #1d1a19;

  --meta-bg: var(--cell-highlight-bg);
  --copy-status-bg: var(--cell-highlight-bg);
}

/*
 * Theme - blue
 */

.window.-blue,
.puck.-blue {
  --text-color: white;
  --bg-color: #446ea0;
  --border-color: #17588e;

  --primary-highlight: #bcdffe;
  --reading-highlight: #c0ffc0;
  --conj-color: #fff394;

  --tag-border: rgba(255, 255, 255, 0.4);

  --title-bg: var(--cell-highlight-bg);
  --title-fg: var(--text-color);

  --reading-label: #e7ffe7;
  --okurigana-color: #a8cfef;
  --cell-highlight-bg: #17588e;
  --cell-highlight-fg: var(--primary-highlight);

  --selected-highlight: var(--bg-color);

  --copy-status-bg: rgba(255, 255, 255, 0.2);
  --meta-bg: rgba(255, 255, 255, 0.2);
}

/*
 * Theme - black
 */

.window.-black,
.puck.-black {
  --text-color: white;
  --bg-color: #3e3a39;
  --border-color: #999493;

  --primary-highlight: #65b7fc;
  --reading-highlight: #a5d6a7;
  --conj-color: #817470;

  --tag-border: rgba(255, 255, 255, 0.4);

  --title-bg: #1d1a19;
  --title-fg: #ede8e6;

  --reading-label: #e7ffe7;
  --okurigana-color: #ede8e6;
  --cell-highlight-bg: #5d5857;
  --cell-highlight-fg: #ede8e6;

  --selected-highlight: #2277d9;

  --copy-status-bg: rgba(255, 255, 255, 0.2);
  --meta-bg: rgba(255, 255, 255, 0.2);
}

.window.-black .kanji-table:not(.-copy) .kanji {
  text-shadow: rgba(255, 255, 255, 0.2) 1px 1px 4px;
}

/*
 * Theme - lightblue
 */

.window.-lightblue,
.puck.-lightblue {
  --text-color: #1d1a19;
  --bg-color: #e3f2fe;
  --border-color: #65b7fc;

  --primary-highlight: #17588e;
  --reading-highlight: #2e7d32;
  --conj-color: #817470;

  --tag-border: rgba(0, 0, 0, 0.3);

  --title-fg: var(--text-color);
  --title-bg: #bcdffe;

  --reading-label: #1b5e20;
  --okurigana-color: #706c6b;
  --cell-highlight-bg: #cae6fc;
  --cell-highlight-fg: var(--primary-highlight);

  --selected-highlight: var(--primary-highlight);

  --meta-bg: var(--cell-highlight-bg);
  --copy-status-bg: var(--cell-highlight-bg);
}

/*
 * Theme - yellow
 */

.window.-yellow,
.puck.-yellow {
  --text-color: #1d1a19;
  --bg-color: #fff8bf;
  --border-color: #ffd600;

  --primary-highlight: #17588e;
  --reading-highlight: #2e7d32;
  --conj-color: #fc7600;

  --tag-border: rgba(0, 0, 0, 0.3);

  --title-bg: #fffde5;
  --title-fg: var(--text-color);

  --reading-label: #1b5e20;
  --okurigana-color: #fc7600;
  --cell-highlight-bg: #fffde5;
  --cell-highlight-fg: #3e3a39;

  --selected-bg: #e3f2fe;
  --selected-highlight: var(--primary-highlight);

  --meta-bg: var(--cell-highlight-bg);
  --copy-status-bg: var(--cell-highlight-bg);
}
