.DS_Store
**/*.xcuserstate
**/xcuserdata/**
cosmos-export
coverage
node_modules
tests/content-loader.js
tests/content-loader.js.map
tests/_locales_*.js
dist-chrome
dist-chrome-electron
dist-chrome-package
dist-chrome-electron-package
dist-edge
dist-edge-package
dist-firefox
dist-firefox-package
dist-safari
dist-src
dist-thunderbird
dist-thunderbird-package
release-assets
yarn-error.log
