@config "./tailwind.config.js";

@import '../../css/themes.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
   * Container styles
   */

  :root,
  body {
    font: message-box;
    font-size: 15px;
    color: #222426;
    margin: 0;
  }

  @media (max-width: 400px) {
    :root,
    body {
      font-size: 12px;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      background: rgb(28, 27, 34);
      color: lightgrey;
    }
  }

  :root.firefox {
    /*
     * Stop Firefox's scrollbars from disappearing and re-appearing triggering
     * possible infinite updates.
     *
     * See: https://github.com/birchill/10ten-ja-reader/issues/708
     */
    overflow: hidden;
  }

  * {
    box-sizing: border-box;
  }

  :root.safari body {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    /* Don't wrap buttons */
    white-space: nowrap;
    /* If they do wrap, however, make them look nice */
    height: auto;
    min-height: 24px;
    text-align: center;
  }

  select {
    appearance: none;
    color: inherit;
    font: message-box;
    font-size: 15px;
    font-weight: 600;
    padding: 7px 30px 7px 15px;
    margin: 4px 8px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #eeeeef;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%20width%3D%2212%22%20height%3D%2212%22%20fill%3D%22%23222426%22%3E%3Cpath%20d%3D%22m6.25%209%203.615-3.615a.5.5%200%200%200%200-.707.5.5%200%200%200-.707%200L6%207.825%202.855%204.68a.5.5%200%200%200-.707.707L5.76%209l.48%201z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px auto;
  }

  select:hover:not(:focus) {
    background-color: #dededf;
  }

  @media (prefers-color-scheme: dark) {
    select {
      background-color: #2c2b32;
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%2012%22%20width%3D%2212%22%20height%3D%2212%22%20fill%3D%22lightgrey%22%3E%3Cpath%20d%3D%22m6.25%209%203.615-3.615a.5.5%200%200%200%200-.707.5.5%200%200%200-.707%200L6%207.825%202.855%204.68a.5.5%200%200%200-.707.707L5.76%209l.48%201z%22%2F%3E%3C%2Fsvg%3E');
    }

    select:hover:not(:focus) {
      background-color: #3b3a41;
    }
  }

  /*
   * Link styles
   */

  a {
    color: #0996f8;
    text-decoration-style: dotted;
  }

  a:visited {
    color: #0996f8;
  }
}

@layer utilities {
  .cover-tl {
    -webkit-mask: linear-gradient(-45deg, black 50%, transparent 50%);
    mask: linear-gradient(-45deg, black 50%, transparent 50%);
  }

  .stacked {
    display: grid;
  }
  .stacked > * {
    grid-area: 1 / 1 / 2 / 2;
  }

  .fade-ends-x {
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      transparent
    );
  }
}
