@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {
    font-family: 'Source Sans Pro', system-ui, -apple-system, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  }

  body :lang(ja) {
    font-family: source-han-sans-japanese, system-ui, -apple-system, 'Segoe UI',
      Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji';
    font-size: 85%;
  }

  aside {
    @apply bg-gray-800 rounded-xl -mx-8 px-8;
  }
}

@layer components {
  .iphone-preview {
    @apply mx-auto;
  }

  .iphone-preview video {
    width: 375px;
    max-width: 100%;
    @apply mx-auto;
  }

  @media screen and (min-width: 470px) {
    .iphone-preview {
      background: url(img/iphone.png) no-repeat center center;
      background-size: 436.5px 886.5px;
      width: 436.5px;
      height: 886.5px;
    }

    .iphone-preview video {
      box-sizing: content-box;
      padding-top: 109px;
    }
  }

  .highlight {
    background: yellow !important;
    color: #1d1a19 !important;
  }

  kbd {
    background: #ddd;
    color: #1d1a19;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 80%;
    box-shadow: inset 0 -2px 1px #ccc;
    border: 1px solid #aaa;
    border-bottom-width: 2px;
  }
}
