#rikaikun_options,
#rikaikun_options td {
  font-family: sans-serif;
  font-size: 10pt;
  padding: 0 10px;
}

.tab {
  background-color: #eee;
  border: 1px solid #999;
  border-bottom: 0;
  color: #ccc;
  display: inline;
  font-style: italic;
  margin-left: 3px;
  padding: 5px;
}

.active-tab {
  color: #000;
  font-style: normal;
}

.selected-tab {
  background-color: #dde;
  color: #000;
  font-style: normal;
  font-weight: bold;
}

.tabContent.hide {
  display: none;
}

#options {
  background-color: #dde;
  border: 1px solid black;
  clear: both;
  padding: 10px;
}

#options p,
#options form {
  margin: 0;
  padding: 0;
}
