/* this is to reset almost everything under the popup to a sane value */

#rikaichan-window,
#rikaichan-window * {
  background: transparent;
  border: none !important;
  border-spacing: 0;
  color: #fff;
  font: normal 14px sans-serif;
  height: auto;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  width: auto;
  word-spacing: normal;
}

#rikaichan-window {
  background: #000;
  border: 1px solid #d0d0d0 !important;
  border-radius: 5px;
  left: 5px;
  min-width: 100px;
  padding: 4px;
  position: absolute;
  top: 5px;
  z-index: 99992;
}

/* used for word definitions */

#rikaichan-window .w-kanji {
  color: #7070e0;
  font-size: 18px;
  margin-right: 0.7em;
}

#rikaichan-window .w-kana {
  color: #20a020;
  font-size: 18px;
}

#rikaichan-window .w-conj {
  color: #a0a0a0;
  font-size: 12px;
}

#rikaichan-window .w-def {
  font-size: 13px;
}

#rikaichan-window .w-title {
  background: #303030;
  color: #e0e0e0;
  font-size: 10px;
  padding: 2px;
}

#rikaichan-window .w-na-tb td {
  padding-right: 0.8em;
  vertical-align: top;
}

/* used for kanji information */

#rikaichan-window .k-main-tb {
  width: 300px;
}

#rikaichan-window .k-kanji {
  color: #fff;
  font-family: serif;
  font-size: 48px;
}

#rikaichan-window .k-eigo {
  font-size: 12px;
}

/* kanji: readings */

#rikaichan-window .k-yomi {
  color: #20a020;
  font-size: 14px;
  margin: 4px 0;
}

#rikaichan-window .k-yomi-hi {
  border: 1px solid red;
  color: #7070e0;
}

#rikaichan-window .k-yomi-ti {
  color: #e0e0e0;
  font-size: 11px;
}

/* kanji radical, grade, freq, strokes box */

#rikaichan-window .k-abox-tb {
  clear: right;
  float: right;
  margin-bottom: 4px;
  width: 120px;
}

#rikaichan-window .k-abox-r {
  background: #505050;
  color: #e0e0e0;
  font-size: 12px;
  padding: 1px 4px;
  text-align: center;
}

#rikaichan-window .k-abox-g {
  background: #303030;
  color: #f0f0f0;
  font-size: 12px;
  padding: 1px 4px;
  text-align: center;
}

#rikaichan-window .k-abox-f {
  background: #303030;
  color: #f0f0f0;
  font-size: 12px;
  padding: 1px 4px;
  text-align: center;
}

#rikaichan-window .k-abox-s {
  background: #505050;
  color: #e0e0e0;
  font-size: 12px;
  padding: 1px 4px;
  text-align: center;
}

/* kanji components box */

#rikaichan-window .k-bbox-tb {
  clear: right;
  float: right;
  margin-bottom: 4px;
  width: 120px;
}

#rikaichan-window .k-bbox-0a {
  background: #505050;
  color: #e0e0e0;
  font-size: 11px;
  padding: 1px 3px;
  vertical-align: top;
}

#rikaichan-window .k-bbox-0b {
  background: #505050;
  color: #e0e0e0;
  font-size: 11px;
  padding: 1px 3px;
  vertical-align: top;
}

#rikaichan-window .k-bbox-1a {
  background: #303030;
  color: #f0f0f0;
  font-size: 11px;
  padding: 1px 3px;
  vertical-align: top;
}

#rikaichan-window .k-bbox-1b {
  background: #303030;
  color: #f0f0f0;
  font-size: 11px;
  padding: 1px 3px;
  vertical-align: top;
}

/* kanji: misc index */

#rikaichan-window .k-mix-tb {
  width: 100%;
}

#rikaichan-window .k-mix-td0 {
  background: #505050;
  color: #f0f0f0;
  font-size: 12px;
}

#rikaichan-window .k-mix-td1 {
  background: #303030;
  color: #e0e0e0;
  font-size: 12px;
}

#rikaichan-window .q-w {
  border-right: 1px dotted #b0b0b0 !important;
  min-width: 300px;
  padding: 0 2px;
  vertical-align: top;
}

#rikaichan-window .q-k {
  padding: 0 2px;
  vertical-align: top;
}

#rikaichan-window .small-info {
  font: small-caption;
}
