name: CI
on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Setup node
        uses: actions/setup-node@v4.2.0
        with:
          node-version: 22
          cache: pnpm

      # Check the build works. No need to run the build:edge target since it's
      # almost identical to build:chrome
      - name: Build
        run: |-
          pnpm install --frozen-lockfile
          pnpm build:firefox
          pnpm build:chrome
          pnpm build:thunderbird

      - name: Run tests
        env:
          CI: true
        run: pnpm test

      # Check packaging doesn't error. Again, no need to worry about the
      # package:edge target.
      - name: Package
        run: |-
          pnpm package:firefox
          pnpm package:chrome

      - name: Verify cosmos setup
        run: pnpm cosmos-export

  lint:
    runs-on: ubuntu-latest
    name: Lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Setup node
        uses: actions/setup-node@v4.2.0
        with:
          node-version: 22
          cache: pnpm

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm eslint scripts src tests "*.{cjs,js,json,ts}"

      - name: Check formatting
        run: pnpm prettier --check _locales css scripts src tests "*.{js,json,md,ts}"

      - name: knip
        run: pnpm knip
