name: Test and release
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test

    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Setup node
        uses: actions/setup-node@v2.1.5
        with:
          node-version: '14.x'

      - name: Build
        run: |
          yarn install --frozen-lockfile
          yarn build
          yarn build:chrome

      - name: Run tests
        env:
          CI: true
        run: |
          yarn test

      - name: Package
        run: yarn package

  release:
    runs-on: ubuntu-latest
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    name: Release

    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Setup node
        uses: actions/setup-node@v2.1.5
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build assets
        run: |
          yarn package
          yarn package:chrome
          yarn zip-src

      - name: Read package version
        id: read_package_version
        uses: ./.github/actions/read-package-version

      - name: Create release (experimental new version)
        id: create_release_new
        uses: ./.github/actions/create-release
        with:
          chrome_package_name: ${{ steps.read_package_version.outputs.chrome_package_name }}
          firefox_package_name: ${{ steps.read_package_version.outputs.firefox_package_name }}
          prerelease: ${{ steps.read_package_version.outputs.prerelease }}
          version: ${{ steps.read_package_version.outputs.version }}

      - name: Create release
        id: create_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: true
          prerelease: ${{ steps.read_package_version.outputs.prerelease }}

      - name: Upload Firefox asset
        id: upload_firefox_asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist-firefox-package/${{ steps.read_package_version.outputs.firefox_package_name }}
          asset_name: rikaichamp-${{ steps.read_package_version.outputs.version }}-firefox.zip
          asset_content_type: application/zip

      - name: Upload Chrome asset
        id: upload_chrome_asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist-chrome-package/${{ steps.read_package_version.outputs.chrome_package_name }}
          asset_name: rikaichamp-${{ steps.read_package_version.outputs.version }}-chrome.zip
          asset_content_type: application/zip

      - name: Upload source ZIP
        id: upload_source_asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist-src/rikaichamp-${{ steps.read_package_version.outputs.version }}-src.zip
          asset_name: rikaichamp-${{ steps.read_package_version.outputs.version }}-src.zip
          asset_content_type: application/zip

      - name: Show Release URL
        run: echo "View and publish the release at ${{ steps.create_release.outputs.html_url }}"
