name: Release test
on:
  pull_request:

jobs:
  bump:
    name: Bump version
    runs-on: ubuntu-latest
    outputs:
      sha: ${{ steps.out.outputs.sha }}
      version: ${{ steps.out.outputs.version }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 22
          cache: pnpm

      - name: Set Git username
        run: |-
          git config --global user.name "Release"
          git config --global user.email "actions@users.noreply.github.com"

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Bump version
        run: pnpm release-it --ci -i "1.27.0" -VV --git.commit=false --git.tag=false --no-git.requireBranch --no-git.requireUpstream --no-git.push

      - name: Output SHA + version
        id: out
        run: |
          echo "sha=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"
          echo "version=$(node -p "require('./package.json').version")" >> "$GITHUB_OUTPUT"

  build_macos:
    name: Build Safari assets
    runs-on: macos-latest
    needs: bump

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Setup node
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 22
          cache: pnpm

      - name: Build extension code
        run: |-
          pnpm install
          pnpm build:safari

      - name: Install signing certificate and profile
        env:
          CERT_BASE64: ${{ secrets.APP_STORE_CERT_BASE64 }}
          MAC_INSTALLER_CERT_BASE64: ${{ secrets.MAC_INSTALLER_CERT_BASE64 }}
          MAC_INSTALLER_CERT_PASSWORD: ${{ secrets.MAC_INSTALLER_CERT_PASSWORD }}
          P12_PASSWORD: ${{ secrets.APP_STORE_CERT_PASSWORD }}
          PROFILE_IOS: ${{ secrets.IOS_PROFILE_BASE64 }}
          PROFILE_IOS_EXT: ${{ secrets.IOS_EXT_PROFILE_BASE64 }}
          PROFILE_MAC: ${{ secrets.MAC_PROFILE_BASE64 }}
          PROFILE_MAC_EXT: ${{ secrets.MAC_EXT_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          # Save the cert and profiles to temp files
          echo -n "$CERT_BASE64" | base64 --decode > cert.p12
          echo -n "$MAC_INSTALLER_CERT_BASE64" | base64 --decode > mac-installer.p12
          echo -n "$PROFILE_IOS" | base64 --decode > ios.mobileprovision
          echo -n "$PROFILE_IOS_EXT" | base64 --decode > ios-ext.mobileprovision
          echo -n "$PROFILE_MAC" | base64 --decode > mac.provisionprofile
          echo -n "$PROFILE_MAC_EXT" | base64 --decode > mac-ext.provisionprofile

          # Create a temporary keychain and import the .p12 certificate
          security create-keychain -p "$KEYCHAIN_PASSWORD" build.keychain-db
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" build.keychain-db
          security import cert.p12 -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k build.keychain-db
          security import mac-installer.p12 -P "$MAC_INSTALLER_CERT_PASSWORD" -A -t cert -f pkcs12 -k build.keychain-db
          security set-key-partition-list -S apple-tool:,apple: -k "$KEYCHAIN_PASSWORD" build.keychain-db
          security list-keychain -d user -s build.keychain-db

          # Install provisioning profiles
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp ios.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/
          cp ios-ext.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/
          cp mac.provisionprofile ~/Library/MobileDevice/Provisioning\ Profiles/
          cp mac-ext.provisionprofile ~/Library/MobileDevice/Provisioning\ Profiles/

      - name: Build iOS app
        run: |
          xcodebuild archive \
            -project "xcode13/10ten Japanese Reader.xcodeproj" \
            -scheme "10ten Japanese Reader (iOS)" \
            -configuration Release \
            -archivePath $GITHUB_WORKSPACE/build/10ten-iOS.xcarchive \
            -destination 'generic/platform=iOS'

      - name: Build Mac app
        run: |
          xcodebuild archive \
            -project "xcode13/10ten Japanese Reader.xcodeproj" \
            -scheme "10ten Japanese Reader (macOS)" \
            -configuration Release \
            -archivePath $GITHUB_WORKSPACE/build/10ten-mac.xcarchive

      - name: Export iOS app package
        run: |
          xcodebuild -exportArchive \
            -archivePath $GITHUB_WORKSPACE/build/10ten-iOS.xcarchive \
            -exportOptionsPlist "xcode13/ExportOptions-iOS.plist" \
            -exportPath $GITHUB_WORKSPACE/build/10ten-ja-reader.ipa

      - name: Export Mac app package
        run: |
          xcodebuild -exportArchive \
            -archivePath $GITHUB_WORKSPACE/build/10ten-mac.xcarchive \
            -exportOptionsPlist "xcode13/ExportOptions-Mac.plist" \
            -exportPath $GITHUB_WORKSPACE/build/10ten-ja-reader.pkg

      - name: Sanity check 1
        run: |
          ls ${{ github.workspace }}/build/

      - name: Sanity check 2
        run: |
          ls $GITHUB_WORKSPACE/build/

      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: mac-packages
          path: |
            ${{ github.workspace }}/build/*.ipa
            ${{ github.workspace }}/build/*.pkg
          if-no-files-found: error

  release:
    name: Create release
    runs-on: ubuntu-latest
    needs: [bump, build_macos]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ needs.bump.outputs.sha }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 22
          cache: pnpm

      - name: Build assets
        run: |
          pnpm install
          scripts/build-assets.sh
        env:
          BUGSNAG_API_KEY: ${{ secrets.BUGSNAG_API_KEY }}

      - uses: actions/download-artifact@v4
        with:
          name: mac-packages
          path: release-assets

      - name: Tag
        run: |
          git tag -a "v${{ needs.bump.outputs.version }}" -m "Release v${{ needs.bump.outputs.version }}"

      - name: Create draft release + upload assets
        run: |
          node ./scripts/release-notes.js "${{ needs.bump.outputs.version }}" > release-notes.md
          cat release-notes.md
          ls release-assets
