name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PUSH_TOKEN }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v4.2.0
        with:
          node-version: 22
          cache: pnpm

      - name: Set Git username
        run: |-
          git config --global user.name "Release"
          git config --global user.email "actions@users.noreply.github.com"

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Update word snapshot
        run: pnpm update-snapshot

      - name: Commit and push if it changed
        run: |-
          git add -A
          timestamp=$(date -u)
          git commit -m "chore: Update word snapshot (${timestamp})" || exit 0
          git push

      - name: Create release
        run: pnpm release-it --ci -i ${{ inputs.version }} -VV
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BUGSNAG_API_KEY: ${{ secrets.BUGSNAG_API_KEY }}
